@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-weight: 400;
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.animate-entrance {
  transition: all .35s cubic-bezier(0.4, 0, 0.6, 1);
  animation: append-animate .25s cubic-bezier(0, 0.45, 0.2, 1.27);
  animation-direction: alternate;
}

@keyframes append-animate {
  from {
    transform: scaleX(0);
    opacity: 1;
    width: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
    width: 1;
  }
}

@keyframes remove-animate {
  from {
    transform: scaleX(1);
    opacity: 1;
    width: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 1;
    width: 0;
  }
}


svg {
  display:inline;
}
