.shadow {
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25), 2px 2px 2px 0px rgba(0, 0, 0, 0.09), 8px 8px 15px 0px rgba(0, 0, 0, 0.04), 15px 14px 20px 0px rgba(0, 0, 0, 0.06);
    text-shadow: -1.75px -1.75px 0px rgba(0, 0, 0, 0.89), 2px 2px 0px #F1E6D6;
    font-weight: 400;
    letter-spacing: -0.045em;
}

.selected {
    text-shadow: none;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.35), 2px 2px 1px rgba(241, 230, 214, 0.88);
}


.underlineBlink {
    animation: underlineBlink 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes underlineBlink {
    20%,
    80% {
        opacity: 1;
    }
    50% {
        opacity: 0.15;
    }
}